/*Tipos de selectores*/

/*Universal + fonte de texto do site*/
*{
    font-family: 'Work Sans', sans-serif;
}

/*Tipo*/
h1{
    color:rgb(0, 110, 253);
}
h2{
    color: rgb(31, 153, 153);
}
h3{
    color:rgb(13, 35, 228);
}

/*Classe*/
.paragrafo{
    color: rgb(156, 23, 23);
}

/*Id*/
#contacte-nos{
    color: rgb(0, 81, 255);
}
/*atributo*/
a[target=casa]{
    background-color: rgb(0, 204, 255);
}
/*pseudo-class*/
#menu:link{
    color: blue
}
#menu:visited{
    color: purple
}
#menu:hover{
    color: cyan
}
#menu:active{
    color: black
}
/*pseudo-elemento*/
p::first-letter{
    font-size: 1.5em;
}

/*Mudança de cor de fundo*/
#corfundo{
    background-color: rgba(0, 183, 255, 0.151);
}

/*Personalização de tabelas*/
tr:nth-child(odd){
    background: rgb(48, 80, 185);
}
tr:nth-child(even){
    background: rgb(5, 179, 248);
}

/*Modificação de poema*/
#poema{
    background-color: white;
}

/*Seletores de atributo*/
[class=titulo] {
    background: rgb(0, 255, 234);
  }

[title~="Braga"] {
    border: 5px solid yellow;
  }

[class|=paragrafo] {
    background: lightblue;
  }

[class^="material"] {
    background: rgba(10, 192, 107, 0.315);
  }

[class$="grande"] {
    background: rgb(0, 140, 255);
  }

[class*="2"] {
    background: rgb(124, 231, 160);
  }

  /*texto descritivo*/
  .paragrafo::first-letter{
    font-size: 2em;
  }

  .paragrafo::first-line{
    font-family: 'Times New Roman', Times, serif;
  }

  span{
        display: block;
  }

 /*Molduras*/
  [id="fotopequena"] {
    border: 2px solid rgb(0, 0, 0);
  }
  [id~="fotogrande"] {
    border: 5px solid rgb(0, 0, 0);
  }
  [id="bragamain"] {
    border: 5px solid rgb(0, 0, 0);
  }
  [id="Braga"] {
    border: 5px solid black;
  }
  [id="freguesia"] {
    border: 5px solid black;
  }
  [id="worcloud"] {
    border: 5px solid black;
  }

  div.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 1;
    padding: 5px;
  }
  div.relative {
    position: relative;
    left: 0px;
  }
  div.absolute {
    position: absolute;
    top: 100px;
    left: 300px;
    width: 100px;
    height: 100px;
    opacity:0.5;
  }
  div.fixed {
    position: fixed;
    top: 100px;
    left: 1550px;
    width: 100px;
    height: 100px;
  }

/* Técnicas CSS Grid e media queries*/
*{
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  margin: 10px;
  height: 500px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto ;
  justify-content: space-around;
}

.item1 { grid-area: header;
  background-color: #9933cc;
  color: #7c0202;
  padding: 15px;
  width: 100%;
  
}

.item2 { grid-area: nav;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.item2 a{ grid-area: nav;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.item3 { grid-area: main;
  padding: 8px;
  margin-bottom: 7px;
  background-color :#33b5e5;
  color: #ffffff;
  width: 100%;
}

.item4 { grid-area: aside;
  padding: 8px;
  margin-bottom: 7px;
  background-color :#33b5e5;
  color: #ffffff;
  width: 100%;
}

.item5 { grid-area: footer;
  padding: 8px;
  margin-bottom: 7px;
  background-color :#33b5e5;
  color: #ffffff;
  width: 100%;
  align-content: end;
}

#flex-container {
  display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    flex-direction: column;
}